.contenedor-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}

.center-av{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#usuario-avatar-settings{
    width: 50vw;
    height: 50vw;
}

#btn-avatar{
    --background: #F3F5F3;
    --color: #151515;
    --border-radius: 100px;
    width: 70vw;
}

.left-av{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 25px;
    gap: 3px;
    width: 100%;
}

.two-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setting {
    display: flex;
    align-items: center;
    flex-wrap: 2;
    width: 100%;
    gap:15px;
}

.full-width-button {
    width: 90%;
    --background: #151515;
    --color:#F3F5F3;
    --border-color: #151515;
    --ripple-color: #FB7E14;
}

.fifthy-width-button {
    width: 70%;
    --background: #151515;
    --color:#F3F5F3;
    --border-color: #151515;
    --ripple-color: #FB7E14;
}

.toggle-container {
    display: flex;
    justify-content: center; 
}

.toggle-settings{
    width: 30%;
}

.texto-titulo{
    font-size: 15px;
    font-weight: bold;
}