/* Width */

/* Percentage */
.width-100-pe{
    width: 100%;
}

.width-90-pe{
    width: 90%;
}

.width-70-pe{
    width: 70%;

}

.width-30-pe{
    width: 30%;
}

.width-15-pe{
    width: 15%;
}

/* viewport width */
.width-70-vw{
    width: 70vw;
}

.width-65-vw{
    width: 65vw;
}

.width-60-vw{
    width: 60vw;
}
/*-----------------------------------------*/


/* gap */

/* Pixeles */
.gap-5-px{
    gap:5px;
}

.gap-15-px{
    gap:15px;
}

/* viewport width */
.gap-3-vw{
    gap:3vw;
}

.gap-5-vw{
    gap:5vw;
}
/*-----------------------------------------*/


/* Height */
.height-auto{
    height: auto;
}
/*-----------------------------------------*/


/* Padding */
.padding-auto{
    padding: auto;
}

.padding-top-55{
    padding-top: 55px;
}

.padding-0{
    padding:0px;
}
/*-----------------------------------------*/


/*  Margin */
.margin-auto{
    margin: auto;
}

.margin-0{
    margin: 0px;
}
/*-----------------------------------------*/


/* Position */
.fixed{
    position: fixed;
}

.absolute{
    position:absolute;
}
/*-----------------------------------------*/

/* Top Left Right Bottom */
.top-0{
    top: 0;
}