/* Tamaño de los iconos */
.icon-min{
    width: 35px;
    height: 38px;
}

.icon-mid{
    width: 50px;
    height: 50px;
}

.icon-title{
    width: 230px;
    height: 230px;
}

.icon-big{
    width: 50vw;
    height: 50vw;
}

.icon-big2{
    width: 70vw;
    height: 70vw;
}

.width-max{
    max-width: 100%;
}

.height-max{
    max-height: 100%;
}

.width-min-110{
    min-width: 110px;
}

.width-min-190{
    min-width: 150px;
}

.height-110{
    height: 110px;
}

.height-120{
    height: 46px;
}

.height-320{
    height: 320px;
}